$font-stack:    Helvetica, sans-serif;




.App {

  min-height: 100vh;

  background-color: #FFFFFF;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  .topNav{

  background-color: #FFFFFF;;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  font: 100% $font-stack;

  li {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

     a {
  color: #000000;
  }

}

  }

  .mainClass{
  margin: 25px 50px;
  padding: 25px 50px;
    margin-bottom: 0;

}

}
